<template>
  <v-layout justify-center column>
    <v-row>
      <v-flex xs4>
        <h1 class="mb-4">Movies list</h1>
      </v-flex>

      <v-flex xs8>
        <v-layout justify-end>
          <v-select
            class="mr-4"
            style="max-width: 200px"
            :items="listGenres"
            append-icon="mdi-plus"
            item-text="genre"
            item-value="value"
            return-object
            filled
            label="Selected genre"
            v-model="currentGenre"
            @change="changeGenre($event)"
          ></v-select>

          <Search v-model="currentSearch"/>
        </v-layout>
      </v-flex>
    </v-row>

    <v-row v-if="movies.length > 0">
      <v-flex xs3 v-for="movie in movies" :key="movie._id">
        <MovieListItem v-bind:movie="movie"/>
      </v-flex>
    </v-row>
  </v-layout>
</template>

<script>
  import Search from './components/Search/Search';
  import MovieListItem from './components/Movie-item/Movie-item';
  import { mapGetters, mapActions } from 'vuex';
  import _ from 'underscore';

  export default {
    name: 'Movies-view',
    components: {
      MovieListItem,
      Search
    },
    data: () => {
      return {
        currentSearch: '',
        currentGenre: {
          genre: 'None',
          value: null
        }
      }
    },
    computed: {
      ...mapGetters(['movies']),
      listGenres() {
        const genres = ['ACTION', 'ADVENTURES', 'COMEDY', 'DRAMA', 'HORROR', 'WESTERNS']
          .map((genre, index) => ({genre, value: index}));
        genres.unshift({
          genre: 'None',
          value: null
        });
        return genres;
      }
    },
    created() {
      this.currentSearchDebounce = _.debounce(this.getMoviesByParams, 400);
    },
    methods: {
      ...mapActions(['getAllMovies', 'getMoviesByParams']),
      changeGenre({ value }) {
        this.getMoviesByParams({
          name: this.currentSearch,
          genres: value
        })
      }
    },
    watch: {
      currentSearch(newVal, _) {
        this.currentSearchDebounce({
          name: (newVal && newVal.trim()) || null,
          genres: this.currentGenre.value
        });
      }
    },
    mounted () {
      this.getAllMovies().then((data) => {
        console.log('Movie list: ', data)
      })
    }
  }
</script>

<style lang="scss">

</style>
