<template>
  <v-layout
    justify-center
    align-center
    row
  >
    <v-flex
      xs12
      class="d-flex justify-start top-bar mb-4"
    >
      <v-btn
        @click="$router.back()"
      >
        <v-icon>mdi-arrow-left</v-icon> Back
      </v-btn>
    </v-flex>

    <v-flex xs6 v-if="oneMovie">
      <v-card>
        <v-img
          height="400px"
          :src="pictureSrc"
          @error="onImgFailed"
        ></v-img>

        <v-card-title>{{ oneMovie.name }}</v-card-title>
        <v-card-subtitle>{{ $moment(oneMovie.dateOfRelease).format('YYYY-MM-DD HH:mm') }}</v-card-subtitle>

        <v-card-text class="text--primary">
          <div>{{ oneMovie.description }}</div>

          <div class="places mt-4" v-if="session">
            <div v-for="(row, index) in session.places"
                 class="place-row"
                 :class="{
                    ['row-' + (index + 1)]: true
                }"
            >
              <v-btn v-for="item in row"
                 :disabled="!isFreeStatus(item.isFree)"
                 color="error"
                 class="place mr-2 mb-4"
                 @click="openDialog(item, index)"
              >
                {{ item.position + 1 }}
              </v-btn>
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-flex>

    <v-dialog
      v-model="dialog"
      max-width="300px"
    >
      <v-card>
        <v-card-title>
          Buy ticket dialog
        </v-card-title>

        <v-card-text v-if="selectedPlace">
          Ticket information

          <div>Start date: {{ $moment(session.startTime).format('YYYY-MM-DD HH:mm') }}</div>
          <div>Row: {{ selectedPlace.row + 1 }}</div>
          <div>place: {{selectedPlace.position + 1}}</div>
          <div>Price: {{selectedPlace.price}} грн</div>
        </v-card-text>

        <div
          v-if="isShowError"
          class="px-6 red--text darken-3"
        >
          I dont know why response with status code 404 :(
        </div>

        <v-card-actions class="px-6">
          <v-btn
            color="primary"
            @click="buyTicketAction()"
          >
            Buy ticket
          </v-btn>

          <v-btn
            @click.native="dialog = false"
            color="warn"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import _ from 'underscore';

  export default {
    data: () => {
      return {
        isImgFailed: false,
        isShowError: false,
        dialog: false,
        selectedPlace: null
      }
    },
    mounted() {
      const movieId = this.$route.params.movieId;

      this.getMovieById(movieId);
      this.getSessionsByMovieId(movieId).then((session) => {
        console.log('Movie session', session)
      });
    },
    computed: {
      ...mapGetters(['oneMovie', 'session']),
      pictureSrc() {
        return this.isImgFailed ? 'https://source.unsplash.com/random' : this.oneMovie.pictureLink;
      }
    },
    methods: {
      ...mapActions(['getMovieById', 'getSessionsByMovieId', 'buyTicket']),
      onImgFailed($event) {
        this.isImgFailed = true;
      },
      isFreeStatus(isFreeStatus) {
        return typeof isFreeStatus === 'boolean' ? isFreeStatus : isFreeStatus === 'true';
      },
      buyTicketAction() {
        this.buyTicket({
          movieShow_id: this.$route.params.movieId,
          row_id: this.selectedPlace.row,
          place_position: this.selectedPlace.position,
          isFree: true
        }).then((status) => {
          if (status === 404) {
            this.isShowError = true;

            const debounceShowError = _.debounce(() => {
              this.isShowError = false;
              this.dialog = false;
            }, 3000);
            debounceShowError();
          }

          console.log('Buy ticket response code: ', status)
        })
      },
      openDialog(place, row) {
        this.selectedPlace = {
          ...place,
          row,
          price: this.session.ticketPrice
        };
        this.dialog = true;
      }
    }
  }
</script>

<style lang="scss">
  .place-row {
    display: flex;

    .place {
      flex-grow: 1;
    }
  }
</style>
