<template>
  <v-hover v-slot:default="{ hover }">
    <v-text-field
      :class="{
        hovered: hover
      }"
      class="search"
      label="Search"
      filled
      shaped
      clearable
      :loading="isPending"
      :value="search"
      @input="$emit('change', $event)"
    ></v-text-field>
  </v-hover>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    name: 'Search',
    model: {
      prop: 'search',
      event: 'change'
    },
    props: ['search'],
    computed: {
      ...mapState(['isPending'])
    },
    methods: {
      ...mapActions(['getMoviesByParams'])
    }
  }
</script>

<style lang="scss">
  .search {
    max-width: 50%;
    transition: all ease-in-out 0.4s;
    &.hovered {
      max-width: 100%;
    }
  }
</style>
