<template>
  <v-hover v-slot:default="{ hover }">
    <v-card :elevation="hover ? '12' : '2'"
            shaped
            class="movie-item ml-4 mr-4 mb-8"
            @click="$router.push({name: 'Single movie', params: {movieId: movie._id}})"
    >
      <v-img
        height="270px"
        :src="pictureSrc"
        @error="onImgFailed"
      ></v-img>

      <v-card-title>{{ movie.name }}</v-card-title>

      <v-card-text class="text--primary">
        <div>{{ movie.description }}</div>
      </v-card-text>

      <v-card-actions>
        <v-btn
          ripple
          outlined
          light
          color="primary"
        >Read more</v-btn>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>

<script>
  export default {
    name: 'Movie-list-item',
    props: ['movie'],
    data: () => {
      return {
        isImgFailed: false
      }
    },
    computed: {
      pictureSrc() {
        return this.isImgFailed ? 'https://source.unsplash.com/random' : this.movie.pictureLink
      }
    },
    methods: {
      onImgFailed($event) {
        this.isImgFailed = true;
      }
    }
  }
</script>

<style lang="scss">
  .movie-item {
    cursor: pointer;
    height: calc(100% - 32px)
  }
</style>
